<div #chatButton class="bottom-right-corner">
  <p-button
    icon="pi pi-comments"
    styleClass="p-button-rounded p-button-lg floating-button"
    (click)="showChatClick()"
  ></p-button>
</div>

<p-dialog
  header="Chat"
  [modal]="false"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [baseZIndex]="1001"
  [style]="{
    position: 'fixed',
    bottom: '75px',
    right: '20px'
  }"
  [(visible)]="showChat"
>
  <div class="chat-container">
    <div class="messages-wrapper" #scrollMe>
      <div class="messages-div" *ngFor="let message of messages; let i = index">
        <div class="user-messages">{{ message }}</div>
        <div [innerHTML] class="bot-messages">{{ botMessages[i] }}</div>
      </div>
    </div>
    <div style="display: flex; gap: 10px">
      <input
        pInputText
        [autofocus]="false"
        [(ngModel)]="userMessage"
        (keydown.enter)="sendMessage()"
        (keydown)="choosePreviousMessage($event)"
        placeholder="Type a message..."
      />
      <p-button
        label="Send"
        icon="pi pi-send"
        (click)="sendMessage()"
      ></p-button>
    </div>
  </div>
</p-dialog>
